{% if Weather_data %}
    <h1>{{ Weather_data.city }}</h1>
    <h2>{{ Weather.temperature }}</h2>
    <p>{{ Weather_data.description }}</p>
    <img src="http://openweathermap.org/img/w/ {{ Weather_data.icon }}.png" alt="{{ Weather_data.description }}">
{% endif %}

{% if daily_forecast %}
    <h2>5-Day Forecast</h2>
    <div class="forecast-container">
        {% for forecast in daily_forecast %}
        <div class="forecast">
           <h3>{{ forecast.day }}</h3>
           <p>{{ forecast.min_temp }}F-{{ forecast.max_temp }}F</p>
           <p>{{ forecast.description }}</p>
           <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
        {% endfor %}
    </div>
{% endif %}